@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
* {
  margin: 0;
  padding: 0;
  transition: all 0.6s ease;
}

#head {
  background: #A0DFC6;
  height: 60px;
  border-bottom: 5px solid #83a0de;
}
#sitelogo {
  padding-top: 5px;
  font-family: 'Oswald', sans-serif;
  padding-left: 15px;
  font-size: 26px;
  float: left;
}
#sitelogo a {
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
}
#sitelogo a:hover {
  cursor:pointer;
  color: white;
  background-color: #90B0F5;
  border-radius: 5px;
  text-align: center;
}
#main {
  background: url("img/img.png");
  height: 3000px;;
}
.breed {
  float: left;
  background: #A0DFC6;
  padding: 1%;
  margin: 2%;
  border-radius: 10px;
  width: 26%;
  opacity: 80%;
}
.i_breed {
  float: left;
  background: #93ccb5;
  padding: 1%;
  border-radius: 10px;
  width: 100%;
  font-family: 'Oswald', sans-serif;
}
.text {
  font-family: 'Oswald', sans-serif;
}
.l_breed {
  text-decoration: none;
  color: black;
}
.l_breed:hover {
  color: orange;
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  #sitelogo {
    font-size: 20px;
  }
  #head {
    height: 38px;
  }
}

@media screen and (max-width: 600px) {
  #sitelogo {
    font-size: 20px;
  }
  #head {
    height: 38px;
  }
}
@media screen and (max-width: 480px) {
  #sitelogo {
    font-size: 15px;
  }
  #head {
    height: 30px;
  }
}
