@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
* {
  margin: 0;
  padding: 0;
  transition: all 0.6s ease;
}

#head {
  background: #A0DFC6;
  height: 60px;
  border-bottom: 5px solid #83a0de;
}
#sitelogo {
  padding-top: 5px;
  font-family: 'Oswald', sans-serif;
  padding-left: 15px;
  font-size: 26px;
  float: left;
}
#sitelogo a {
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
}
#sitelogo a:hover {
  cursor:pointer;
  color: white;
  background-color: #90B0F5;
  border-radius: 5px;
  text-align: center;
}
#back {
  height: 1000px;
  background: url("img/img.png");
}
#logo {
  background: url("img/home.png") no-repeat;
  background-position: center top;
  height: 480px;
}
@media screen and (max-width: 800px) {
  #sitelogo {
    font-size: 20px;
  }
  #head {
    height: 38px;
  }
}

@media screen and (max-width: 600px) {
  #sitelogo {
    font-size: 20px;
  }
  #head {
    height: 38px;
  }
}
@media screen and (max-width: 480px) {
  #sitelogo {
    font-size: 15px;
  }
  #head {
    height: 30px;
  }
}
